content {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.produto-img {
  margin-top: 1.87rem;
  width: min(220px, 50%);
  height: 75%;
  border-radius: 0.9375rem;
}

.modal-overlay {
  background: rgba(255, 255, 255, 0.338);
}

.modal-produto {
  background: #b2dbbf;
  max-width: 500px;
  width: 100%;
  text-align: center;
  border-radius: 0.9375rem;
}

.modal-produto p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.87rem;
  width: 90%;
  text-align: justify;
}

.contato {
  color: black;
  text-decoration: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
