.login-container {
  display: flex;
  flex-direction: column;
  background-color: #4dac79;
  border-radius: 15px;
  padding: 35px;
  width: 480px;
  position: absolute;
  right: 12.5vw;
  top: 5vh;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 15px;
  padding: 30px 30px 0 30px;
}

.login-container form .form-field {
  position: relative;
}

.login-container form input {
  padding: 20px 35px;
  border-radius: 10px;
  border: none;
  transition: box-shadow 0.25s;
  font-size: 24px;
}

.login-container form input:focus {
  outline: none;
  box-shadow: 0.5px 0.5px 0 2px #133e79, -0.5px -0.5px 0 2px #133e79;
}

.login-container form input.error {
  transition: box-shadow 0.25s;
  box-shadow: 1px 1px 0 3px red, -1px -1px 0 3px red;
}

.login-container form input::placeholder {
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login-container form button {
  border-radius: 10px;
  border: none;
  background-color: #008940;
  padding: 15px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.login-container .forgot-password {
  color: #00602d;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
  border: none;
  margin-bottom: 12.5px;
}

.login-container .register {
  margin: 0 auto;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #133e79;
  padding: 20px;
  border-radius: 10px;
  border: none;
  margin: 20px auto;
  text-decoration: none;
  text-align: center;
  width: fit-content;
}

.login-container button,
.login-container .back {
  transition: transform 0.25s;
}

.login-container button:hover,
.login-container .back:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}

.login-container .back {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: white;
  background-color: #133e79;
  text-decoration: none;
  padding: 10px 30px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
}

span,
span button {
  text-align: center;
  color: #133e79;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background-color: transparent;
}

span {
  margin-bottom: 30px;
}
